# Ignore all files by default, but scan all directories
*
!*/

# Adding the custom files for a MAME setup
!.gitattributes
!.gitignore
!/cheat/cheat.7z
!/ctrlr/8bitdo*.cfg
!/ends/ends.7z
!/flyers/flyers.7z
!/glsl/*.vsh
!/glsl/*.fsh
!/icons/icons.zip
!/ini/*.ini
!/lua/*.lua
!/mame.ini
!/marquees/marquees.7z
!/README.md
!/samples/*.zip
!/snap/snap.7z
!history/history.xml

# Ignore specific files
/ini/desktop.ini
/ini/ui.ini
/ini/plugin.ini



